@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
/* Normal mode: */
    --backGround:#F7F7F8;
    --primaryColor:#E94959;
    --secondaryColor:#E6E6E6;
    --tertiaryColor:#FFFFFF;
    --butomsColor:#2B2B2B;

/*Dark Mode: */
    --backGroundDark:#1F1D2A;
    --primaryColorDark:#9ADDE0;
    --secondaryColorDark:#0B0B0F;
    --tertiaryColorDark:#1B1A23;  
    --butomsColorDark:#1B1A23;

/*Common*/
    --fontColor: #8C8C8C;
    --fontColorSocial: #595959;
    --fontColorFooter: #5D5967;
    --fontColorTitles: #262626;
    --height-h:55px;
    --fontSize:16px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
   font-weight:normal;
   font-size: var(--fontSize);
   color: var(--fontColorTitles);
}

body {
    color: var(--color-f);
    background-color: var(--backGround);
}

a {
    text-decoration: none;
    color: inherit;
}

.logo svg{
    width: 2.5rem; 
    fill: var(--primaryColor)
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-h);
/*     max-width: 1024px;
    margin: 0 auto; */
    width: 100%;
    position: fixed;
    z-index: 2000;
}   

.menuNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: var(--height-h);
}

.logo_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.anchorLogo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.iconsMenus {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 0.3rem;
}

.countCart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;    
    background-color: #0B0B0F;
    color: #FFFFFF;
    font-size: 9px;
    width: 10px;
    height: 10px;
    padding:10px;
    position: relative;
    left: -16px;
    bottom: -12px;
}

.banner{
    /* background-color: green; */
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-end;
    height: 400px;
}

.imgBanner {
    background-color: var(--primaryColor);
    background-image: url('https://academlostorev1.netlify.app/images/sweater2.png');
    background-repeat: no-repeat;  
    background-size: contain; 
    background-image: center;
    background-position: center;
    height: 400px;
    width: 160px;
}

.infoProduct {
    position:relative;
    top:0px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    font-size:xx-large;
    font-weight:bold;
}

p {
    font-size: var(--fontSize);
    color: var(--fontColor);
}

.priceBanner {
    color:var(--primaryColor);
    font-weight: bold;
    font-size: 25px;
}

.buttonBanner {
    background-color: var(--butomsColor);
    color: var(--tertiaryColor);
    width: 140px;
    height: 50px;
    letter-spacing: 1px;
    border-width: 0;
}

.cardsProducts {
    /* background-color: #9ADDE0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

img{
    width: 100%;
    height: 100%;
}

.cardProd {
    /* background-color: #595959; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgProducts {
    background-color: var(--secondaryColor);
    width: 240px;  
    border-radius: 15px 15px 0px 0px;
}

.detailProducts {
    padding: 1.5rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 240px; 

    border-radius: 0px 0px 15px 15px;
}

.priceStock {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* background-color: red; */
    width: 100%;

}

.productPrice {
    
    font-weight: bold;
    font-size: 20px;
}

.stock {
    font-weight:bolder;
    font-size: 13px;
    color: var(--fontColor);
}

.description p{
    font-weight:500;
    color: var(--butomsColor);
}





.pageFooter {
    background-color: var(--secondaryColor);
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoFooter {
   position: relative;
    left:-25vw;
}

.infoFooter div h1 {
    color: var(--butomsColor);
    font-size: 18px;
    padding: 1rem 0rem;
}

.infoFooter ul{
    list-style:none;
 
}

.infoFooter li {
    margin-bottom: 0.5rem;
    font-size: var(--fontSize);
    color: var(--fontColorFooter);   
}

.social box-icon {
    fill: var(--fontColorSocial)
}

.autor {
    background-color: var(--primaryColor);
    width: 95%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 3rem;
}

.autor p {
    color:#FFFFFF;
    padding: 0.5rem;
    text-align: center;
    font-size: 12px;
}

.autor strong {
    color:var(--tertiaryColorDark);
    font-weight: bold;
    font-size: 12px;
}